html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: 'Fira Mono', monospace;
  font-weight: 400;
  background-color: #fcfdfe;
}

input {
  font-size: 1rem;
}

main.container {
  display: flex;
  flex-flow: column;
  margin: 4rem auto 0;
  width: 85%;
}

hr {
  border: 1px rgba(0, 0, 0, 0.144) solid;
  width: 75%;
  margin: 2rem auto;
}

/***********************************************
Progress Bar and progress info
***********************************************/

.tasks-container {
  width: 50%;
}

.progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.percentage,
.progress-container p {
  text-align: center;
  margin: 0 auto;
}

.percentage {
  font-weight: 700;
  font-size: 2rem;
  width: 100%;
}

.progress-container p {
  font-size: 1.25rem;
}

.progress-bar {
  margin: 1.25rem auto;
}

.progress-bar svg {
  height: auto;
  margin: 0 auto;
}

.meter {
  stroke-dasharray: 201px;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 850ms ease-in-out;
  fill: none;
}

/************************************************
Tasks
************************************************/
.tasks-container {
  width: 85%;
  margin: 1rem auto;
}

.form-container {
  width: 100%;
  margin-bottom: 1rem;
}

form.task-form {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
}

.task-form label {
  font-size: 1.125rem;
  margin-bottom: 8px;
}

.task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-input input {
  font-family: 'Fira Mono', monospace;
  width: 85%;
  height: 2.5rem;
  border-radius: 9px;
  border: 1px solid #898989;
  margin-right: 1rem;
  padding: 10px;
}

.task-input button {
  background-color: transparent;
  border: 1px #000000 solid;
  padding: 0;
  background-color: #ffffff;
  border: 1px #000000 solid;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  width: 5ch;
  height: 5ch;
  cursor: pointer;
}

.plus-icon {
  font-size: 1.8rem;
  line-height: 1;
}

.tasks {
  max-height: 16.5625rem;
  overflow-y: auto;
}

.task-list {
  padding: 0;
  margin-right: 10px;
}

.task-item {
  display: flex;
  /* position: relative; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #595959;
  background-color: #ffffff;
  padding: 0.5rem 1rem;
  margin-bottom: 1px;
}

.task-item:hover {
  background-color: #eaeaea;
  /* border-color: #000000;
  border-width: 2px; */
}

.task-item:hover .delete .cross {
  stroke: #5c5c5c;
}

.delete {
  width: 20px;
  height: 20px;
}

.task-name {
  font-size: 1rem;
  line-height: 127%;
  width: 70%;
  min-height: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.delete-task {
  border: none;
  background-color: unset;
  background-image: url('../assets/delete.svg');
  background-position: center;
  background-size: cover;
  padding: 0;
  left: 75%;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.task-item:hover .delete-task {
  opacity: 1;
}
*/ .task-item input {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 1rem;
}

.task-item button {
  width: 1.3rem;
  height: 1.3rem;
}

/* .task-status {
  position: absolute;
  width: 1.625rem;
  height: 1.625rem;
  left: 1.25rem;
  opacity: 0;
  z-index: 1;
} */

/* visually show focus outline when the SVG receives focus */
.task-status:focus + svg,
.delete-task:focus + svg,
button:focus {
  outline: 3px solid #ffc4d3;
  outline-offset: 2px;
}

/* hide the focus styles for mouse users */
.task-status:focus:not(:focus-visible) + svg,
.delete-task:focus:not(:focus-visible) + svg {
  outline: none;
}

/* adds stroke color when checkbox is checked */
.task-status:checked + svg .checkmark {
  stroke: #717da8;
}

.task-status:checked ~ .task-name {
  color: rgba(0, 0, 0, 0.351);
  text-decoration: line-through;
}

.clear-button {
  width: 21.875rem;
  margin-top: 2rem;
}

.clear-tasks {
  font-family: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  background-color: transparent;
  border: 1px #000 solid;
  padding: 0;
  min-width: 14ch;
  min-height: 2.75rem;
  background-color: #9093e4;
  box-shadow: 3px 3px 0 rgb(0, 0, 0);
  padding: 0.25em 0.75em;
  cursor: pointer;
  text-align: center;
  line-height: 1.1;
}

.clear-tasks:hover {
  background-color: #b5b7f0;
}

/*******

Media Queries
******/

/* @media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentcolor;
  }
}

@media screen and (max-width: 500px) {
  main.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
  }

  .progress-container,
  .tasks-container,
  .tasks {
    width: 90%;
    margin: 0 auto;
  }

  .progress-container h1 {
    font-size: 1.5rem;
  }

  .progress-bar {
    width: 65%;
    margin: 2.5rem auto 1.5rem;
  }

  .progress-bar p {
    font-size: 1.125rem;
  }

  .tasks-container {
    margin-top: 4.125rem;
  }

  .form-container {
    width: 92%;
    margin: 0 auto;
  }

  form.task-form {
    width: 100%;
  }

  .task-form label {
    font-size: 14px;
  }

  .task-input {
    width: 100%;
    margin: 0 auto;
  }

  .task-input input {
    width: 80%;
    height: 2.4rem;
  }

  .task-input button {
    width: 5ch;
    height: 5ch;
  }

  .plus-icon {
    font-size: 1.5rem;
    line-height: 110%;
    text-align: center;
  }

  .tasks {
    margin-top: 1.875rem;
  }

  .task-item {
    max-width: 100%;
    min-height: 2.625rem;
    padding: 10px 14px;
  }

  .circle-checkbox {
    width: 1.6rem;
    height: 1.6rem;
  }

  .task-name {
    width: 70%;
    margin-left: 1rem;
  }

  .clear-button {
    margin: 2.5rem auto;
    width: 90%;
  }
}

/* @media screen and (min-width: 625px a) {
  .progress-bar {
    width: 46%;
  }
} */

/* @media screen and (max-width: 1024px) {
  main.container {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
  }

  .tasks-container {
    margin-top: 4rem;
  }

  .tasks {
    margin-top: 1.875rem;
  }
} */
