html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #f7f9ff;
}

input {
  font-size: 1rem;
}

main.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 31.25rem;
  margin: 8.125rem auto 0;
  width: 85%;
}

/***********************************************
Progress Bar and progress info
***********************************************/

.progress-container,
.tasks-container {
  grid-row: 1 / 2;
}

.progress-container {
  grid-column: 1 / 2;
}

.progress-container h1,
.progress-container p {
  text-align: center;
  margin: 0 auto;
}

.progress-container h1 {
  font-weight: 500;
  font-size: 2rem;
  width: 100%;
}

.progress-container p {
  font-size: 1.25rem;
}

.progress-bar {
  width: 80%;
  margin: 3.75rem auto;
}

.progress-bar svg {
  width: 100%;
  height: auto;
}

.meter {
  stroke-dasharray: 201px;
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 850ms ease-in-out;
}

/************************************************
Tasks
************************************************/
.tasks-container {
  margin: 0 auto;
}

.form-container {
  width: 100%;
  margin-bottom: 2.625rem;
}

form.task-form {
  display: flex;
  flex-flow: column nowrap;
  width: 21.875rem;
}

.task-form label {
  font-size: 1.125rem;
  margin-bottom: 8px;
}

.task-input {
  display: flex;
  align-items: center;
}

.task-input input {
  font-family: 'Poppins', sans-serif;
  width: 18.4375rem;
  height: 2.5rem;
  border-radius: 9px;
  border: 1px solid #717da8;
  margin-right: 1rem;
  padding: 10px;
}

.task-input button {
  background-color: transparent;
  border: none;
  padding: 0;
  background-color: #ff4d79;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  width: 5ch;
  height: 5ch;
  border-radius: 50%;
  border-style: none;
  cursor: pointer;
}

.plus-icon {
  font-size: 1.8rem;
  line-height: 1;
}

.task-list {
  width: 22.625rem;
  height: 18.75rem;
  padding-right: 12px;
  overflow-y: auto;
}

.task-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #717da8;
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 1.5rem;
  margin-bottom: 8px;
}

.task-item:hover {
  background-color: #dee5ff;
  border-width: 2px;
  margin-bottom: 4px;
}

.task-item:hover .delete .cross {
  stroke: #5c5c5c;
}

.delete {
  width: 14px;
  height: 14px;
}

.task-name {
  font-size: 1rem;
  line-height: 127%;
  width: 13.75rem;
  min-height: 1.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.delete-task {
  position: absolute;
  padding: 0;
  left: 84%;
  width: 2rem;
  height: 2rem;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.delete {
  width: 1rem;
  height: auto;
}

.circle-checkbox {
  width: 1.625rem;
  height: 1.625rem;
}

.task-status {
  position: absolute;
  width: 1.625rem;
  height: 1.625rem;
  left: 1.25rem;
  opacity: 0;
  z-index: 1;
}

/* visually show focus outline when the SVG receives focus */
.task-status:focus + svg,
.delete-task:focus + svg,
button:focus {
  outline: 3px solid #ffc4d3;
  outline-offset: 2px;
}

/* hide the focus styles for mouse users */
.task-status:focus:not(:focus-visible) + svg,
.delete-task:focus:not(:focus-visible) + svg {
  outline: none;
}

/* adds stroke color when checkbox is checked */
.task-status:checked + svg .checkmark {
  stroke: #717da8;
}

.task-status:checked ~ .task-name {
  color: rgba(0, 0, 0, 0.351);
  text-decoration: line-through;
}

.clear-button {
  width: 21.875rem;
  margin-top: 2rem;
}

.clear-tasks {
  font-family: inherit;
  font-size: 1.125rem;
  background-color: transparent;
  border: none;
  padding: 0;
  min-width: 14ch;
  min-height: 2.75rem;
  border-radius: 6px;
  background-color: #717da8;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 0.25em 0.75em;
  cursor: pointer;
  text-align: center;
  line-height: 1.1;
}

.clear-tasks:hover {
  background-color: #8892b6;
}

/*******

Media Queries
******/

@media screen and (-ms-high-contrast: active) {
  button {
    border: 2px solid currentcolor;
  }
}

@media screen and (max-width: 500px) {
  main.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 3rem;
  }

  .progress-container,
  .tasks-container,
  .task-list {
    width: 90%;
    margin: 0 auto;
  }

  .progress-container h1 {
    font-size: 1.5rem;
  }

  .progress-bar {
    width: 65%;
    margin: 2.5rem auto 1.5rem;
  }

  .progress-bar p {
    font-size: 1.125rem;
  }

  .progress-bar svg {
    width: 100%;
  }

  .tasks-container {
    margin-top: 4.125rem;
  }

  .form-container {
    width: 92%;
    margin: 0 auto;
  }

  form.task-form {
    width: 100%;
  }

  .task-form label {
    font-size: 14px;
  }

  .task-input {
    width: 100%;
    margin: 0 auto;
  }

  .task-input input {
    width: 80%;
    height: 2.4rem;
  }

  .task-input button {
    width: 5ch;
    height: 5ch;
  }

  .plus-icon {
    font-size: 1.5rem;
    line-height: 110%;
    text-align: center;
  }

  .task-list {
    margin-top: 1.875rem;
    min-height: 5rem;
  }

  .task-item {
    max-width: 100%;
    min-height: 2.625rem;
    padding: 10px 14px;
  }

  .circle-checkbox {
    width: 1.6rem;
    height: 1.6rem;
  }

  .task-name {
    width: 70%;
    margin-left: 1rem;
  }

  .clear-button {
    margin: 2.5rem auto;
    width: 90%;
  }
}

/* @media screen and (min-width: 625px a) {
  .progress-bar {
    width: 46%;
  }
} */

@media screen and (max-width: 1024px) {
  main.container {
    display: flex;
    flex-direction: column;
    margin-top: 4.5rem;
  }

  .tasks-container {
    margin-top: 4rem;
  }

  .task-list {
    margin-top: 1.875rem;
    height: 18rem;
  }
}
